header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: black;
    color: azure;
    align-items: center;
    justify-content: space-between;
    width: auto;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .link, .login, .logout {
            color: white;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: darkgray;
            }
        }

        .login, .logout {
            margin-left: auto;
            border-radius: 0.5em;
            border: solid 1px;
            padding: 7px;
            color: azure;
            background-color: rgba(165, 165, 165, 0);
            cursor: pointer;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            
            > li {
                margin-left: 10px;
            }
        }
    }
}